@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HK Grotesk';
  src: url(./fonts/HKGrotesk-ExtraBold.woff2) format('woff2'),
       url(./fonts/HKGrotesk-ExtraBold.woff) format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url(./fonts/HKGrotesk-Bold.woff2) format('woff2'),
       url(./fonts/HKGrotesk-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url(./fonts/HKGrotesk-SemiBold.woff2) format('woff2'),
       url(./fonts/HKGrotesk-SemiBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url(./fonts/HKGrotesk-Medium.woff2) format('woff2'),
       url(./fonts/HKGrotesk-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url(./fonts/HKGrotesk-Regular.woff2) format('woff2'),
       url(./fonts/HKGrotesk-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url(./fonts/HKGrotesk-Light.woff2) format('woff2'),
       url(./fonts/HKGrotesk-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url(./fonts/HKGrotesk-Thin.woff2) format('woff2'),
       url(./fonts/HKGrotesk-Thin.woff) format('woff');
  font-weight: 200;
  font-style: normal;
}

/* .testimonial-decor::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(3.125rem);
  transform: translateY(3.125rem);
} */